---
http_interactions:
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM5dbe39c4c72211e1b502026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1TeztGGOGLPPCo2cLKo6SZ
      x-balanced-merchant:
      - TEST-MR1StaiKg1wIPZi4BqZBFKgK
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/merchants?limit=10&offset=0\", \n  \"items\":
        [\n    {\n      \"phone_number\": \"+16505551212\", \n      \"city\": \"Nowhere\",
        \n      \"marketplace\": {\n        \"in_escrow\": 0, \n        \"domain_url\":
        \"example.com\", \n        \"name\": \"Test Marketplace\", \n        \"owner_account_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC1TCUdnBEr1KwYUyKqb91wZ\",
        \n        \"support_email_address\": \"support@example.com\", \n        \"uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ\", \n        \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/bank_accounts\", \n        \"support_phone_number\":
        \"+16505551234\", \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/refunds\",
        \n        \"meta\": {}, \n        \"debits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/debits\",
        \n        \"holds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/holds\",
        \n        \"transactions_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/transactions\",
        \n        \"accounts_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts\",
        \n        \"id\": \"TEST-MP1TeztGGOGLPPCo2cLKo6SZ\", \n        \"credits_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/credits\", \n        \"cards_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/cards\"\n      }, \n      \"name\":
        \"William Henry Cavendish III\", \n      \"email_address\": \"whc@example.org\",
        \n      \"created_at\": \"2012-07-06T04:22:47.628360Z\", \n      \"uri\":
        \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK\", \n      \"accounts_uri\":
        \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK/accounts\", \n      \"meta\":
        {}, \n      \"postal_code\": \"90210\", \n      \"country_code\": \"USA\",
        \n      \"type\": \"person\", \n      \"balance\": 0, \n      \"api_keys_uri\":
        \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK/api_keys\", \n      \"id\":
        \"TEST-MR1StaiKg1wIPZi4BqZBFKgK\", \n      \"street_address\": \"123 Fake
        St\"\n    }\n  ], \n  \"previous_uri\": null, \n  \"uri\": \"/v1/merchants?limit=10&offset=0\",
        \n  \"limit\": 10, \n  \"offset\": 0, \n  \"total\": 1, \n  \"next_uri\":
        null, \n  \"last_uri\": \"/v1/merchants?limit=10&offset=0\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:41 GMT
[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/cards
    body:
      encoding: UTF-8
      string: ! '{"card_number":"4111111111111111","expiration_month":"12","expiration_year":"2015"}'
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM5e432616c72211e1a476026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1TeztGGOGLPPCo2cLKo6SZ
      x-balanced-merchant:
      - TEST-MR1StaiKg1wIPZi4BqZBFKgK
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"card_type\": \"visa\", \n  \"account\": null, \n  \"name\":
        null, \n  \"expiration_year\": 2015, \n  \"created_at\": \"2012-07-06T04:23:42.476710Z\",
        \n  \"brand\": \"Visa\", \n  \"uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/cards/CC2Saj17XFSnJXlcM36zwYmR\",
        \n  \"expiration_month\": 12, \n  \"is_valid\": true, \n  \"meta\": {}, \n
        \ \"last_four\": 1111, \n  \"id\": \"CC2Saj17XFSnJXlcM36zwYmR\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:42 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts
    body:
      encoding: UTF-8
      string: ! '{"email_address":"buyer7@example.org","card_uri":"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/cards/CC2Saj17XFSnJXlcM36zwYmR","name":"Jack
        Q Buyer"}'
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM5eb43b58c72211e1a29c026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP1TeztGGOGLPPCo2cLKo6SZ
      x-balanced-merchant:
      - TEST-MR1StaiKg1wIPZi4BqZBFKgK
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"holds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2SGVGPvAzfOJWFVJyVWL94/holds\",
        \n  \"name\": \"Jack Q Buyer\", \n  \"roles\": [\n    \"buyer\"\n  ], \n  \"created_at\":
        \"2012-07-06T04:23:42.949986Z\", \n  \"uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2SGVGPvAzfOJWFVJyVWL94\",
        \n  \"bank_accounts_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2SGVGPvAzfOJWFVJyVWL94/bank_accounts\",
        \n  \"refunds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2SGVGPvAzfOJWFVJyVWL94/refunds\",
        \n  \"meta\": {}, \n  \"debits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2SGVGPvAzfOJWFVJyVWL94/debits\",
        \n  \"transactions_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2SGVGPvAzfOJWFVJyVWL94/transactions\",
        \n  \"email_address\": \"buyer7@example.org\", \n  \"id\": \"AC2SGVGPvAzfOJWFVJyVWL94\",
        \n  \"credits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2SGVGPvAzfOJWFVJyVWL94/credits\",
        \n  \"cards_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2SGVGPvAzfOJWFVJyVWL94/cards\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:43 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2SGVGPvAzfOJWFVJyVWL94/debits
    body:
      encoding: UTF-8
      string: ! '{"amount":500,"appears_on_statement_as":"BOBS BURGERS","hold_uri":null,"meta":null,"description":null,"source_uri":null}'
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM5f5bef88c72211e1a476026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1TeztGGOGLPPCo2cLKo6SZ
      x-balanced-merchant:
      - TEST-MR1StaiKg1wIPZi4BqZBFKgK
      x-balanced-version:
      - [...]
[...]
