---
http_interactions:
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NjYyM2Q4MTJjNzIyMTFlMTllYWUwMjZiYTdlNWU3MmU6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM6b18cf58c72211e1ad0d026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP37ipYHIZCJYNVu4hNAgbaN
      x-balanced-merchant:
      - TEST-MR36oxV2BZ6BFoehSzWvOSaa
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/merchants?limit=10&offset=0\", \n  \"items\":
        [\n    {\n      \"phone_number\": \"+16505551212\", \n      \"city\": \"Nowhere\",
        \n      \"marketplace\": {\n        \"in_escrow\": 0, \n        \"domain_url\":
        \"example.com\", \n        \"name\": \"Test Marketplace\", \n        \"owner_account_uri\":
        \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts/AC37Gs6XP3gcheHoLnuDaMOJ\",
        \n        \"support_email_address\": \"support@example.com\", \n        \"uri\":
        \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN\", \n        \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/bank_accounts\", \n        \"support_phone_number\":
        \"+16505551234\", \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/refunds\",
        \n        \"meta\": {}, \n        \"debits_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/debits\",
        \n        \"holds_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/holds\",
        \n        \"transactions_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/transactions\",
        \n        \"accounts_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts\",
        \n        \"id\": \"TEST-MP37ipYHIZCJYNVu4hNAgbaN\", \n        \"credits_uri\":
        \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/credits\", \n        \"cards_uri\":
        \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/cards\"\n      }, \n      \"name\":
        \"William Henry Cavendish III\", \n      \"email_address\": \"whc@example.org\",
        \n      \"created_at\": \"2012-07-06T04:23:55.134151Z\", \n      \"uri\":
        \"/v1/merchants/TEST-MR36oxV2BZ6BFoehSzWvOSaa\", \n      \"accounts_uri\":
        \"/v1/merchants/TEST-MR36oxV2BZ6BFoehSzWvOSaa/accounts\", \n      \"meta\":
        {}, \n      \"postal_code\": \"90210\", \n      \"country_code\": \"USA\",
        \n      \"type\": \"person\", \n      \"balance\": 0, \n      \"api_keys_uri\":
        \"/v1/merchants/TEST-MR36oxV2BZ6BFoehSzWvOSaa/api_keys\", \n      \"id\":
        \"TEST-MR36oxV2BZ6BFoehSzWvOSaa\", \n      \"street_address\": \"123 Fake
        St\"\n    }\n  ], \n  \"previous_uri\": null, \n  \"uri\": \"/v1/merchants?limit=10&offset=0\",
        \n  \"limit\": 10, \n  \"offset\": 0, \n  \"total\": 1, \n  \"next_uri\":
        null, \n  \"last_uri\": \"/v1/merchants?limit=10&offset=0\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:24:04 GMT
[...]
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts?email_address=foo%40bar.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NjYyM2Q4MTJjNzIyMTFlMTllYWUwMjZiYTdlNWU3MmU6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM6b952ad0c72211e1a29c026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP37ipYHIZCJYNVu4hNAgbaN
      x-balanced-merchant:
      - TEST-MR36oxV2BZ6BFoehSzWvOSaa
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts?limit=10&email_address=foo%40bar.com&offset=0\",
        \n  \"items\": [], \n  \"previous_uri\": null, \n  \"uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts?limit=10&email_address=foo%40bar.com&offset=0\",
        \n  \"limit\": 10, \n  \"offset\": 0, \n  \"total\": 0, \n  \"next_uri\":
        null, \n  \"last_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts?limit=10&email_address=foo%40bar.com&offset=0\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:24:04 GMT
recorded_with: VCR 2.2.2
