---
http_interactions:
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM4952cb08c72211e1ad0d026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP1TeztGGOGLPPCo2cLKo6SZ
      x-balanced-merchant:
      - TEST-MR1StaiKg1wIPZi4BqZBFKgK
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/merchants?limit=10&offset=0\", \n  \"items\":
        [\n    {\n      \"phone_number\": \"+16505551212\", \n      \"city\": \"Nowhere\",
        \n      \"marketplace\": {\n        \"in_escrow\": 0, \n        \"domain_url\":
        \"example.com\", \n        \"name\": \"Test Marketplace\", \n        \"owner_account_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC1TCUdnBEr1KwYUyKqb91wZ\",
        \n        \"support_email_address\": \"support@example.com\", \n        \"uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ\", \n        \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/bank_accounts\", \n        \"support_phone_number\":
        \"+16505551234\", \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/refunds\",
        \n        \"meta\": {}, \n        \"debits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/debits\",
        \n        \"holds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/holds\",
        \n        \"transactions_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/transactions\",
        \n        \"accounts_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts\",
        \n        \"id\": \"TEST-MP1TeztGGOGLPPCo2cLKo6SZ\", \n        \"credits_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/credits\", \n        \"cards_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/cards\"\n      }, \n      \"name\":
        \"William Henry Cavendish III\", \n      \"email_address\": \"whc@example.org\",
        \n      \"created_at\": \"2012-07-06T04:22:47.628360Z\", \n      \"uri\":
        \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK\", \n      \"accounts_uri\":
        \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK/accounts\", \n      \"meta\":
        {}, \n      \"postal_code\": \"90210\", \n      \"country_code\": \"USA\",
        \n      \"type\": \"person\", \n      \"balance\": 0, \n      \"api_keys_uri\":
        \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK/api_keys\", \n      \"id\":
        \"TEST-MR1StaiKg1wIPZi4BqZBFKgK\", \n      \"street_address\": \"123 Fake
        St\"\n    }\n  ], \n  \"previous_uri\": null, \n  \"uri\": \"/v1/merchants?limit=10&offset=0\",
        \n  \"limit\": 10, \n  \"offset\": 0, \n  \"total\": 1, \n  \"next_uri\":
        null, \n  \"last_uri\": \"/v1/merchants?limit=10&offset=0\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:07 GMT
[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/bank_accounts
    body:
      encoding: UTF-8
      string: ! '{"account_number":"12345678901","bank_code":"321174851","name":"Jack
        Q Merchant"}'
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM49e038dac72211e1a29c026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP1TeztGGOGLPPCo2cLKo6SZ
      x-balanced-merchant:
      - TEST-MR1StaiKg1wIPZi4BqZBFKgK
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"bank_name\": \"SAN MATEO CREDIT UNION\", \n  \"account\":
        null, \n  \"name\": \"Jack Q Merchant\", \n  \"bank_code\": \"321174851\",
        \n  \"created_at\": \"2012-07-06T04:23:08.187162Z\", \n  \"uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/bank_accounts/BA2fAGRSyWgMPLYiVsKONMtg\",
        \n  \"is_valid\": true, \n  \"meta\": {}, \n  \"last_four\": \"8901\", \n
        \ \"id\": \"BA2fAGRSyWgMPLYiVsKONMtg\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:08 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts
    body:
      encoding: UTF-8
      string: ! '{"email_address":"merchant4@example.org","merchant":{"type":"person","name":"Billy
        Jones","street_address":"801 High St.","postal_code":"94301","country":"USA","dob":"1842-01","phone_number":"+16505551234"},"bank_account_uri":"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/bank_accounts/BA2fAGRSyWgMPLYiVsKONMtg","name":"Jack
        Q Merchant"}'
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM4a52281ec72211e1a977026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1TeztGGOGLPPCo2cLKo6SZ
      x-balanced-merchant:
      - TEST-MR1StaiKg1wIPZi4BqZBFKgK
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"holds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahGeQFk0x/holds\",
        \n  \"name\": \"Jack Q Merchant\", \n  \"roles\": [\n    \"merchant\", \n
        \   \"buyer\"\n  ], \n  \"created_at\": \"2012-07-06T04:23:08.961529Z\", \n
        \ \"uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahGeQFk0x\",
        \n  \"bank_accounts_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahGeQFk0x/bank_accounts\",
        \n  \"refunds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahGeQFk0x/refunds\",
        \n  \"meta\": {}, \n  \"debits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahGeQFk0x/debits\",
        \n  \"transactions_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahGeQFk0x/transactions\",
        \n  \"email_address\": \"merchant4@example.org\", \n  \"id\": \"AC2gtd88x7S9yvLahGeQFk0x\",
        \n  \"credits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahGeQFk0x/credits\",
        \n  \"cards_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahGeQFk0x/cards\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:10 GMT
[...]
- request:
    method: put
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahGeQFk0x
    body:
      encoding: UTF-8
      string: ! '{"holds_uri":"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahGeQFk0x/holds","name":"Jack
        Q Merchant","roles":["merchant","buyer"],"created_at":"2012-07-06T04:23:08.961529Z","bank_accounts_uri":"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahG[...]
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC2gtd88x7S9yvLahGeQFk0x/bank_accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM4d3e5688c72211e19eae026ba7e5e72e
    [...]
