---
http_interactions:
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/api_keys
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM6e44d348c72211e1a29c026ba7e5e72e
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"merchant\": {\n    \"phone_number\": \"+16505551212\", \n
        \   \"city\": \"Nowhere\", \n    \"marketplace\": null, \n    \"name\": \"William
        Henry Cavendish III\", \n    \"email_address\": \"whc@example.org\", \n    \"created_at\":
        \"2012-07-06T04:24:09.283512Z\", \n    \"uri\": \"/v1/merchants/TEST-MR3mjdQAaIuYnml4foiSL87Q\",
        \n    \"accounts_uri\": \"/v1/merchants/TEST-MR3mjdQAaIuYnml4foiSL87Q/accounts\",
        \n    \"meta\": {}, \n    \"postal_code\": \"90210\", \n    \"country_code\":
        \"USA\", \n    \"type\": \"person\", \n    \"balance\": 0, \n    \"api_keys_uri\":
        \"/v1/merchants/TEST-MR3mjdQAaIuYnml4foiSL87Q/api_keys\", \n    \"id\": \"TEST-MR3mjdQAaIuYnml4foiSL87Q\",
        \n    \"street_address\": \"123 Fake St\"\n  }, \n  \"secret\": \"6e9cf0d2c72211e1a29c026ba7e5e72e\",
        \n  \"meta\": {}, \n  \"created_at\": \"2012-07-06T04:24:09.651313Z\", \n
        \ \"uri\": \"/v1/api_keys/AK3mITGfUbTFWF42Ikr0RELQ\", \n  \"id\": \"AK3mITGfUbTFWF42Ikr0RELQ\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:24:10 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Basic NmU5Y2YwZDJjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM6eea7ddec72211e19eae026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP3nhHH5OdNRTfziINDIhNjU
      x-balanced-merchant:
      - TEST-MR3mjdQAaIuYnml4foiSL87Q
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"support_email_address\": \"support@example.com\", \n  \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/bank_accounts\", \n  \"owner_account\":
        {\n    \"holds_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/accounts/AC3nQ4AY7MV8fC3G4dJxGxSS/holds\",
        \n    \"name\": \"William Henry Cavendish III\", \n    \"roles\": [\n      \"merchant\",
        \n      \"buyer\"\n    ], \n    \"created_at\": \"2012-07-06T04:24:10.643389Z\",
        \n    \"uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/accounts/AC3nQ4AY7MV8fC3G4dJxGxSS\",
        \n    \"bank_accounts_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/accounts/AC3nQ4AY7MV8fC3G4dJxGxSS/bank_accounts\",
        \n    \"refunds_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/accounts/AC3nQ4AY7MV8fC3G4dJxGxSS/refunds\",
        \n    \"meta\": {}, \n    \"debits_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/accounts/AC3nQ4AY7MV8fC3G4dJxGxSS/debits\",
        \n    \"transactions_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/accounts/AC3nQ4AY7MV8fC3G4dJxGxSS/transactions\",
        \n    \"email_address\": \"whc@example.org\", \n    \"id\": \"AC3nQ4AY7MV8fC3G4dJxGxSS\",
        \n    \"credits_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/accounts/AC3nQ4AY7MV8fC3G4dJxGxSS/credits\",
        \n    \"cards_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/accounts/AC3nQ4AY7MV8fC3G4dJxGxSS/cards\"\n
        \ }, \n  \"holds_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/holds\",
        \n  \"meta\": {}, \n  \"transactions_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/transactions\",
        \n  \"accounts_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/accounts\",
        \n  \"id\": \"TEST-MP3nhHH5OdNRTfziINDIhNjU\", \n  \"credits_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/credits\",
        \n  \"cards_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/cards\",
        \n  \"in_escrow\": 0, \n  \"domain_url\": \"example.com\", \n  \"name\": \"Test
        Marketplace\", \n  \"uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU\",
        \n  \"support_phone_number\": \"+16505551234\", \n  \"refunds_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/refunds\",
        \n  \"debits_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/debits\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:24:11 GMT
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NmU5Y2YwZDJjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM6fd68adac72211e19eae026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP3nhHH5OdNRTfziINDIhNjU
      x-balanced-merchant:
      - TEST-MR3mjdQAaIuYnml4foiSL87Q
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/merchants?limit=10&offset=0\", \n  \"items\":
        [\n    {\n      \"phone_number\": \"+16505551212\", \n      \"city\": \"Nowhere\",
        \n      \"marketplace\": {\n        \"in_escrow\": 0, \n        \"domain_url\":
        \"example.com\", \n        \"name\": \"Test Marketplace\", \n        \"owner_account_uri\":
        \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/accounts/AC3nQ4AY7MV8fC3G4dJxGxSS\",
        \n        \"support_email_address\": \"support@example.com\", \n        \"uri\":
        \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU\", \n        \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/bank_accounts\", \n        \"support_phone_number\":
        \"+16505551234\", \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/refunds\",
[...]
[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/cards
    body:
      encoding: UTF-8
      string: ! '{"card_number":"5105105105105100","expiration_month":"12","expiration_year":"2015"}'
    headers:
      Authorization:
      - Basic NmU5Y2YwZDJjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM70644beac72211e1a977026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP3nhHH5OdNRTfziINDIhNjU
      x-balanced-merchant:
      - TEST-MR3mjdQAaIuYnml4foiSL87Q
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"card_type\": \"mastercard\", \n  \"account\": null, \n  \"name\":
        null, \n  \"expiration_year\": 2015, \n  \"created_at\": \"2012-07-06T04:24:12.952100Z\",
        \n  \"brand\": \"MasterCard\", \n  \"uri\": \"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/cards/CC3qrrK6WTDSWEt1OcUOgasp\",
        \n  \"expiration_month\": 12, \n  \"is_valid\": true, \n  \"meta\": {}, \n
        \ \"last_four\": 5100, \n  \"id\": \"CC3qrrK6WTDSWEt1OcUOgasp\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:24:13 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/accounts
    body:
      encoding: UTF-8
      string: ! '{"email_address":"buyer@example.org","card_uri":"/v1/marketplaces/TEST-MP3nhHH5OdNRTfziINDIhNjU/cards/CC3qrrK6WTDSWEt1OcUOgasp","name":null,"meta":null}'
    headers:
      Authorization:
      - Basic NmU5Y2YwZDJjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM711a8d10c72211e1a977026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP3nhHH5OdNRTfziINDIhNjU
[...]
