---
http_interactions:
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/api_keys
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM3725751cc72111e1a977026ba7e239a9
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"merchant\": {\n    \"phone_number\": \"+16505551212\", \n
        \   \"city\": \"Nowhere\", \n    \"marketplace\": null, \n    \"name\": \"William
        Henry Cavendish III\", \n    \"email_address\": \"whc@example.org\", \n    \"created_at\":
        \"2012-07-06T04:15:27.251166Z\", \n    \"uri\": \"/v1/merchants/TEST-MR1GePqSVApIeytkkt2HmTQR\",
        \n    \"accounts_uri\": \"/v1/merchants/TEST-MR1GePqSVApIeytkkt2HmTQR/accounts\",
        \n    \"meta\": {}, \n    \"postal_code\": \"90210\", \n    \"country_code\":
        \"USA\", \n    \"type\": \"person\", \n    \"balance\": 0, \n    \"api_keys_uri\":
        \"/v1/merchants/TEST-MR1GePqSVApIeytkkt2HmTQR/api_keys\", \n    \"id\": \"TEST-MR1GePqSVApIeytkkt2HmTQR\",
        \n    \"street_address\": \"123 Fake St\"\n  }, \n  \"secret\": \"37619dc6c72111e1a977026ba7e239a9\",
        \n  \"meta\": {}, \n  \"created_at\": \"2012-07-06T04:15:27.485628Z\", \n
        \ \"uri\": \"/v1/api_keys/AK1Gvd0iiBz2mVE2FTgcnBMJ\", \n  \"id\": \"AK1Gvd0iiBz2mVE2FTgcnBMJ\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:15:28 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Basic Mzc2MTlkYzZjNzIxMTFlMWE5NzcwMjZiYTdlMjM5YTk6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM37ca9c68c72111e1a29c026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP1HgCDnKZSw46yAiLUC5aNM
      x-balanced-merchant:
      - TEST-MR1GePqSVApIeytkkt2HmTQR
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"support_email_address\": \"support@example.com\", \n  \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/bank_accounts\", \n  \"owner_account\":
        {\n    \"holds_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1HMypc3ApJhgDXGewXmGgC/holds\",
        \n    \"name\": \"William Henry Cavendish III\", \n    \"roles\": [\n      \"merchant\",
        \n      \"buyer\"\n    ], \n    \"created_at\": \"2012-07-06T04:15:28.629190Z\",
        \n    \"uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1HMypc3ApJhgDXGewXmGgC\",
        \n    \"bank_accounts_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1HMypc3ApJhgDXGewXmGgC/bank_accounts\",
        \n    \"refunds_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1HMypc3ApJhgDXGewXmGgC/refunds\",
        \n    \"meta\": {}, \n    \"debits_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1HMypc3ApJhgDXGewXmGgC/debits\",
        \n    \"transactions_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1HMypc3ApJhgDXGewXmGgC/transactions\",
        \n    \"email_address\": \"whc@example.org\", \n    \"id\": \"AC1HMypc3ApJhgDXGewXmGgC\",
        \n    \"credits_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1HMypc3ApJhgDXGewXmGgC/credits\",
        \n    \"cards_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1HMypc3ApJhgDXGewXmGgC/cards\"\n
        \ }, \n  \"holds_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/holds\",
        \n  \"meta\": {}, \n  \"transactions_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/transactions\",
        \n  \"accounts_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts\",
        \n  \"id\": \"TEST-MP1HgCDnKZSw46yAiLUC5aNM\", \n  \"credits_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/credits\",
        \n  \"cards_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/cards\",
        \n  \"in_escrow\": 0, \n  \"domain_url\": \"example.com\", \n  \"name\": \"Test
        Marketplace\", \n  \"uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM\",
        \n  \"support_phone_number\": \"+16505551234\", \n  \"refunds_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/refunds\",
        \n  \"debits_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/debits\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:15:29 GMT
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Mzc2MTlkYzZjNzIxMTFlMWE5NzcwMjZiYTdlMjM5YTk6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM38a2cd68c72111e1b502026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1HgCDnKZSw46yAiLUC5aNM
      x-balanced-merchant:
      - TEST-MR1GePqSVApIeytkkt2HmTQR
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/merchants?limit=10&offset=0\", \n  \"items\":
        [\n    {\n      \"phone_number\": \"+16505551212\", \n      \"city\": \"Nowhere\",
        \n      \"marketplace\": {\n        \"in_escrow\": 0, \n        \"domain_url\":
        \"example.com\", \n        \"name\": \"Test Marketplace\", \n        \"owner_account_uri\":
        \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1HMypc3ApJhgDXGewXmGgC\",
        \n        \"support_email_address\": \"support@example.com\", \n        \"uri\":
        \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM\", \n        \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/bank_accounts\", \n        \"support_phone_number\":
        \"+16505551234\", \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/refunds\",
[...]
[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/bank_accounts
    body:
      encoding: UTF-8
      string: ! '{"account_number":"1234567890","bank_code":"321174851","name":"Jack
        Q Merchant"}'
    headers:
      Authorization:
      - Basic Mzc2MTlkYzZjNzIxMTFlMWE5NzcwMjZiYTdlMjM5YTk6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM393564d4c72111e1a977026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1HgCDnKZSw46yAiLUC5aNM
      x-balanced-merchant:
      - TEST-MR1GePqSVApIeytkkt2HmTQR
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"bank_name\": \"SAN MATEO CREDIT UNION\", \n  \"account\":
        null, \n  \"name\": \"Jack Q Merchant\", \n  \"bank_code\": \"321174851\",
        \n  \"created_at\": \"2012-07-06T04:15:30.640361Z\", \n  \"uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/bank_accounts/BA1K3bzOqNBU3dLH3cTEdiaZ\",
        \n  \"is_valid\": true, \n  \"meta\": {}, \n  \"last_four\": \"7890\", \n
        \ \"id\": \"BA1K3bzOqNBU3dLH3cTEdiaZ\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:15:30 GMT
[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/cards
    body:
      encoding: UTF-8
      string: ! '{"card_number":"4111111111111111","expiration_month":"1","expiration_year":"2015"}'
    headers:
      Authorization:
      - Basic Mzc2MTlkYzZjNzIxMTFlMWE5NzcwMjZiYTdlMjM5YTk6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM3a236b70c72111e1ad0d026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP1HgCDnKZSw46yAiLUC5aNM
      x-balanced-merchant:
      - TEST-MR1GePqSVApIeytkkt2HmTQR
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"card_type\": \"visa\", \n  \"account\": null, \n  \"name\":
        null, \n  \"expiration_year\": 2015, \n  \"created_at\": \"2012-07-06T04:15:32.221146Z\",
        \n  \"brand\": \"Visa\", \n  \"uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/cards/CC1LP0YFu1wFtca1ZI5amO6y\",
        \n  \"expiration_month\": 1, \n  \"is_valid\": true, \n  \"meta\": {}, \n
        \ \"last_four\": 1111, \n  \"id\": \"CC1LP0YFu1wFtca1ZI5amO6y\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:15:32 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts
    body:
      encoding: UTF-8
      string: ! '{"email_address":"merchant@example.org","bank_account_uri":"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/bank_accounts/BA1K3bzOqNBU3dLH3cTEdiaZ","name":"Jack
        Q Merchant","meta":null,"merchant":{"type":"person","name":"Billy Jones","street_address":"801
        High St.","postal_code":"94301","country":"USA","dob":"1842-01","phone_number":"+16505551234"}}'
    headers:
      Authorization:
      - Basic Mzc2MTlkYzZjNzIxMTFlMWE5NzcwMjZiYTdlMjM5YTk6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM3a7729e0c72111e1a476026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1HgCDnKZSw46yAiLUC5aNM
      x-balanced-merchant:
      - TEST-MR1GePqSVApIeytkkt2HmTQ[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts
    body:
      encoding: UTF-8
      string: ! '{"email_address":"buyer+transactions@example.org","card_uri":"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/cards/CC1LP0YFu1wFtca1ZI5amO6y","name":"Jack
        Q Buyer","meta":null}'
    headers:
      Authorization:
      - Basic Mzc2MTlkYzZjNzIxMTFlMWE5NzcwMjZiYTdlMjM5YTk6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM3b361e54c72111e1a29c026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP1HgCD[...]
- request:
    method: put
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1NIz6vDOr8Tw4XRtWTewBU
    body:
      encoding: UTF-8
      string: ! '{"holds_uri":"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1NIz6vDOr8Tw4XRtWTewBU/holds","name":"Jack
        Q Buyer","roles":["buyer"],"created_at":"2012-07-06T04:15:33.906619Z","bank_accounts_uri":"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1NIz6vDOr8Tw4XRtWTewBU/bank_ac[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1NIz6vDOr8Tw4XRtWTewBU/debits
    body:
      encoding: UTF-8
      string: ! '{"amount":1000,"appears_on_statement_as":null,"hold_uri":null,"meta":null,"description":"Transaction
        #1","source_uri":null}'
    headers:
      Authorization:
      - Basic Mzc2MTlkYzZjNzIxMTFlMWE5NzcwMjZiYTdlMjM5YTk6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM3c091bcec72111e1a476026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1HgCDnKZSw46yAiLUC5aNM
      x-balanced-merchant:
      - TEST-MR1GePqSVApIeytkkt2HmTQR
      x-balanced-version:
      - [...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuULX3/credits
    body:
      encoding: UTF-8
      string: ! '{"amount":500,"meta":null,"description":"Credit from Debit #1","destination_uri":null}'
    headers:
      Authorization:
      - Basic Mzc2MTlkYzZjNzIxMTFlMWE5NzcwMjZiYTdlMjM5YTk6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM3cb90d72c72111e19eae026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP1HgCDnKZSw46yAiLUC5aNM
      x-balanced-merchant:
      - TEST-MR1GePqSVApIeytkkt2HmTQR
      x-balanced-version:
      - [...]
[...]
