---
http_interactions:
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/api_keys
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM3da31060c72211e1a29c026ba7e5e72e
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"merchant\": {\n    \"phone_number\": \"+16505551212\", \n
        \   \"city\": \"Nowhere\", \n    \"marketplace\": null, \n    \"name\": \"William
        Henry Cavendish III\", \n    \"email_address\": \"whc@example.org\", \n    \"created_at\":
        \"2012-07-06T04:22:47.628360Z\", \n    \"uri\": \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK\",
        \n    \"accounts_uri\": \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK/accounts\",
        \n    \"meta\": {}, \n    \"postal_code\": \"90210\", \n    \"country_code\":
        \"USA\", \n    \"type\": \"person\", \n    \"balance\": 0, \n    \"api_keys_uri\":
        \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK/api_keys\", \n    \"id\": \"TEST-MR1StaiKg1wIPZi4BqZBFKgK\",
        \n    \"street_address\": \"123 Fake St\"\n  }, \n  \"secret\": \"3ddda900c72211e1a29c026ba7e5e72e\",
        \n  \"meta\": {}, \n  \"created_at\": \"2012-07-06T04:22:47.867130Z\", \n
        \ \"uri\": \"/v1/api_keys/AK1SJQPzeiYW5xNhw6dmMCV8\", \n  \"id\": \"AK1SJQPzeiYW5xNhw6dmMCV8\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:22:48 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM3e24b5d4c72211e1b502026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1TeztGGOGLPPCo2cLKo6SZ
      x-balanced-merchant:
      - TEST-MR1StaiKg1wIPZi4BqZBFKgK
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"support_email_address\": \"support@example.com\", \n  \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/bank_accounts\", \n  \"owner_account\":
        {\n    \"holds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC1TCUdnBEr1KwYUyKqb91wZ/holds\",
        \n    \"name\": \"William Henry Cavendish III\", \n    \"roles\": [\n      \"merchant\",
        \n      \"buyer\"\n    ], \n    \"created_at\": \"2012-07-06T04:22:48.651197Z\",
        \n    \"uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC1TCUdnBEr1KwYUyKqb91wZ\",
        \n    \"bank_accounts_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC1TCUdnBEr1KwYUyKqb91wZ/bank_accounts\",
        \n    \"refunds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC1TCUdnBEr1KwYUyKqb91wZ/refunds\",
        \n    \"meta\": {}, \n    \"debits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC1TCUdnBEr1KwYUyKqb91wZ/debits\",
        \n    \"transactions_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC1TCUdnBEr1KwYUyKqb91wZ/transactions\",
        \n    \"email_address\": \"whc@example.org\", \n    \"id\": \"AC1TCUdnBEr1KwYUyKqb91wZ\",
        \n    \"credits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC1TCUdnBEr1KwYUyKqb91wZ/credits\",
        \n    \"cards_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC1TCUdnBEr1KwYUyKqb91wZ/cards\"\n
        \ }, \n  \"holds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/holds\",
        \n  \"meta\": {}, \n  \"transactions_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/transactions\",
        \n  \"accounts_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts\",
        \n  \"id\": \"TEST-MP1TeztGGOGLPPCo2cLKo6SZ\", \n  \"credits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/credits\",
        \n  \"cards_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/cards\",
        \n  \"in_escrow\": 0, \n  \"domain_url\": \"example.com\", \n  \"name\": \"Test
        Marketplace\", \n  \"uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ\",
        \n  \"support_phone_number\": \"+16505551234\", \n  \"refunds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/refunds\",
        \n  \"debits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/debits\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:22:49 GMT
recorded_with: VCR 2.2.2
