---
http_interactions:
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/api_keys
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM3f2b137ec72211e1b502026ba7e239a9
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"merchant\": {\n    \"phone_number\": \"+16505551212\", \n
        \   \"city\": \"Nowhere\", \n    \"marketplace\": null, \n    \"name\": \"William
        Henry Cavendish III\", \n    \"email_address\": \"whc@example.org\", \n    \"created_at\":
        \"2012-07-06T04:22:50.179661Z\", \n    \"uri\": \"/v1/merchants/TEST-MR1VlsUPIe5CyOnz2P4zK36F\",
        \n    \"accounts_uri\": \"/v1/merchants/TEST-MR1VlsUPIe5CyOnz2P4zK36F/accounts\",
        \n    \"meta\": {}, \n    \"postal_code\": \"90210\", \n    \"country_code\":
        \"USA\", \n    \"type\": \"person\", \n    \"balance\": 0, \n    \"api_keys_uri\":
        \"/v1/merchants/TEST-MR1VlsUPIe5CyOnz2P4zK36F/api_keys\", \n    \"id\": \"TEST-MR1VlsUPIe5CyOnz2P4zK36F\",
        \n    \"street_address\": \"123 Fake St\"\n  }, \n  \"secret\": \"3f647b1ec72211e1b502026ba7e239a9\",
        \n  \"meta\": {}, \n  \"created_at\": \"2012-07-06T04:22:50.422842Z\", \n
        \ \"uri\": \"/v1/api_keys/AK1VCsECcKwxH7OfVyCM6Owh\", \n  \"id\": \"AK1VCsECcKwxH7OfVyCM6Owh\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:22:50 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Basic M2Y2NDdiMWVjNzIyMTFlMWI1MDIwMjZiYTdlMjM5YTk6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM3fa5ef2cc72211e1ad0d026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP1W5KGboiC3QmCANtF7RL8q
      x-balanced-merchant:
      - TEST-MR1VlsUPIe5CyOnz2P4zK36F
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"support_email_address\": \"support@example.com\", \n  \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/bank_accounts\", \n  \"owner_account\":
        {\n    \"holds_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/accounts/AC1WqXqBeNfT38dneX7HcEyy/holds\",
        \n    \"name\": \"William Henry Cavendish III\", \n    \"roles\": [\n      \"merchant\",
        \n      \"buyer\"\n    ], \n    \"created_at\": \"2012-07-06T04:22:51.152697Z\",
        \n    \"uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/accounts/AC1WqXqBeNfT38dneX7HcEyy\",
        \n    \"bank_accounts_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/accounts/AC1WqXqBeNfT38dneX7HcEyy/bank_accounts\",
        \n    \"refunds_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/accounts/AC1WqXqBeNfT38dneX7HcEyy/refunds\",
        \n    \"meta\": {}, \n    \"debits_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/accounts/AC1WqXqBeNfT38dneX7HcEyy/debits\",
        \n    \"transactions_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/accounts/AC1WqXqBeNfT38dneX7HcEyy/transactions\",
        \n    \"email_address\": \"whc@example.org\", \n    \"id\": \"AC1WqXqBeNfT38dneX7HcEyy\",
        \n    \"credits_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/accounts/AC1WqXqBeNfT38dneX7HcEyy/credits\",
        \n    \"cards_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/accounts/AC1WqXqBeNfT38dneX7HcEyy/cards\"\n
        \ }, \n  \"holds_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/holds\",
        \n  \"meta\": {}, \n  \"transactions_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/transactions\",
        \n  \"accounts_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/accounts\",
        \n  \"id\": \"TEST-MP1W5KGboiC3QmCANtF7RL8q\", \n  \"credits_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/credits\",
        \n  \"cards_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/cards\",
        \n  \"in_escrow\": 0, \n  \"domain_url\": \"example.com\", \n  \"name\": \"Test
        Marketplace\", \n  \"uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q\",
        \n  \"support_phone_number\": \"+16505551234\", \n  \"refunds_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/refunds\",
        \n  \"debits_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/debits\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:22:52 GMT
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic M2Y2NDdiMWVjNzIyMTFlMWI1MDIwMjZiYTdlMjM5YTk6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM4079b56ec72211e1a476026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1W5KGboiC3QmCANtF7RL8q
      x-balanced-merchant:
      - TEST-MR1VlsUPIe5CyOnz2P4zK36F
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/merchants?limit=10&offset=0\", \n  \"items\":
        [\n    {\n      \"phone_number\": \"+16505551212\", \n      \"city\": \"Nowhere\",
        \n      \"marketplace\": {\n        \"in_escrow\": 0, \n        \"domain_url\":
        \"example.com\", \n        \"name\": \"Test Marketplace\", \n        \"owner_account_uri\":
        \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/accounts/AC1WqXqBeNfT38dneX7HcEyy\",
        \n        \"support_email_address\": \"support@example.com\", \n        \"uri\":
        \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q\", \n        \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/bank_accounts\", \n        \"support_phone_number\":
        \"+16505551234\", \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP1W5KGboiC3QmCANtF7RL8q/refunds\",
[...]
[...]
