---
http_interactions:
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: !!null 
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Basic realm="Not permitted to perform index on merchants."
      x-balanced-guru:
      - OHM3eb9d970c72211e1a29c026ba7e5e72e
      x-balanced-version:
      - ''
      x-sentry-event:
      - 7d00e5d9ea334813b9f49f48fcb2568c
    body:
      encoding: US-ASCII
      string: ! "{\n  \"status\": \"Unauthorized\", \n  \"category_code\": \"authentication-required\",
        \n  \"category_type\": \"permission\", \n  \"description\": \"Not permitted
        to perform index on merchants. Your request id is OHM3eb9d970c72211e1a29c026ba7e5e72e.\",
        \n  \"request_id\": \"OHM3eb9d970c72211e1a29c026ba7e5e72e\", \n  \"status_code\":
        401\n}"
  recorded_at: Fri, 06 Jul 2012 04:22:49 GMT
recorded_with: VCR 2.2.2
