---
http_interactions:
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/api_keys
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM60dabd6cc72211e1a476026ba7e239a9
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"merchant\": {\n    \"phone_number\": \"+16505551212\", \n
        \   \"city\": \"Nowhere\", \n    \"marketplace\": null, \n    \"name\": \"William
        Henry Cavendish III\", \n    \"email_address\": \"whc@example.org\", \n    \"created_at\":
        \"2012-07-06T04:23:46.724372Z\", \n    \"uri\": \"/v1/merchants/TEST-MR2WWvoF8yVWTAcuxmNZIbln\",
        \n    \"accounts_uri\": \"/v1/merchants/TEST-MR2WWvoF8yVWTAcuxmNZIbln/accounts\",
        \n    \"meta\": {}, \n    \"postal_code\": \"90210\", \n    \"country_code\":
        \"USA\", \n    \"type\": \"person\", \n    \"balance\": 0, \n    \"api_keys_uri\":
        \"/v1/merchants/TEST-MR2WWvoF8yVWTAcuxmNZIbln/api_keys\", \n    \"id\": \"TEST-MR2WWvoF8yVWTAcuxmNZIbln\",
        \n    \"street_address\": \"123 Fake St\"\n  }, \n  \"secret\": \"6116b5cec72211e1a476026ba7e239a9\",
        \n  \"meta\": {}, \n  \"created_at\": \"2012-07-06T04:23:46.955563Z\", \n
        \ \"uri\": \"/v1/api_keys/AK2XcEDKaD8b37jNhhz0qGed\", \n  \"id\": \"AK2XcEDKaD8b37jNhhz0qGed\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:47 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Basic NjExNmI1Y2VjNzIyMTFlMWE0NzYwMjZiYTdlMjM5YTk6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM615bbafcc72211e1a29c026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP2XHCQ3eddHTRwD6bFlHIwC
      x-balanced-merchant:
      - TEST-MR2WWvoF8yVWTAcuxmNZIbln
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"support_email_address\": \"support@example.com\", \n  \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/bank_accounts\", \n  \"owner_account\":
        {\n    \"holds_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC2Y5Oq0tVMEhdtT2dWVWRvo/holds\",
        \n    \"name\": \"William Henry Cavendish III\", \n    \"roles\": [\n      \"merchant\",
        \n      \"buyer\"\n    ], \n    \"created_at\": \"2012-07-06T04:23:47.752304Z\",
        \n    \"uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC2Y5Oq0tVMEhdtT2dWVWRvo\",
        \n    \"bank_accounts_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC2Y5Oq0tVMEhdtT2dWVWRvo/bank_accounts\",
        \n    \"refunds_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC2Y5Oq0tVMEhdtT2dWVWRvo/refunds\",
        \n    \"meta\": {}, \n    \"debits_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC2Y5Oq0tVMEhdtT2dWVWRvo/debits\",
        \n    \"transactions_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC2Y5Oq0tVMEhdtT2dWVWRvo/transactions\",
        \n    \"email_address\": \"whc@example.org\", \n    \"id\": \"AC2Y5Oq0tVMEhdtT2dWVWRvo\",
        \n    \"credits_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC2Y5Oq0tVMEhdtT2dWVWRvo/credits\",
        \n    \"cards_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC2Y5Oq0tVMEhdtT2dWVWRvo/cards\"\n
        \ }, \n  \"holds_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/holds\",
        \n  \"meta\": {}, \n  \"transactions_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/transactions\",
        \n  \"accounts_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts\",
        \n  \"id\": \"TEST-MP2XHCQ3eddHTRwD6bFlHIwC\", \n  \"credits_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/credits\",
        \n  \"cards_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/cards\",
        \n  \"in_escrow\": 0, \n  \"domain_url\": \"example.com\", \n  \"name\": \"Test
        Marketplace\", \n  \"uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC\",
        \n  \"support_phone_number\": \"+16505551234\", \n  \"refunds_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/refunds\",
        \n  \"debits_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/debits\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:48 GMT
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NjExNmI1Y2VjNzIyMTFlMWE0NzYwMjZiYTdlMjM5YTk6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM6235afc8c72211e1b502026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP2XHCQ3eddHTRwD6bFlHIwC
      x-balanced-merchant:
      - TEST-MR2WWvoF8yVWTAcuxmNZIbln
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/merchants?limit=10&offset=0\", \n  \"items\":
        [\n    {\n      \"phone_number\": \"+16505551212\", \n      \"city\": \"Nowhere\",
        \n      \"marketplace\": {\n        \"in_escrow\": 0, \n        \"domain_url\":
        \"example.com\", \n        \"name\": \"Test Marketplace\", \n        \"owner_account_uri\":
        \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC2Y5Oq0tVMEhdtT2dWVWRvo\",
        \n        \"support_email_address\": \"support@example.com\", \n        \"uri\":
        \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC\", \n        \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/bank_accounts\", \n        \"support_phone_number\":
        \"+16505551234\", \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/refunds\",
[...]
[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/cards
    body:
      encoding: UTF-8
      string: ! '{"card_number":"5105105105105100","expiration_month":"12","expiration_year":"2015"}'
    headers:
      Authorization:
      - Basic NjExNmI1Y2VjNzIyMTFlMWE0NzYwMjZiYTdlMjM5YTk6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM62cc75acc72211e1a977026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP2XHCQ3eddHTRwD6bFlHIwC
      x-balanced-merchant:
      - TEST-MR2WWvoF8yVWTAcuxmNZIbln
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"card_type\": \"mastercard\", \n  \"account\": null, \n  \"name\":
        null, \n  \"expiration_year\": 2015, \n  \"created_at\": \"2012-07-06T04:23:49.938658Z\",
        \n  \"brand\": \"MasterCard\", \n  \"uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/cards/CC30yEIm77ZuGohIkVJbfzGp\",
        \n  \"expiration_month\": 12, \n  \"is_valid\": true, \n  \"meta\": {}, \n
        \ \"last_four\": 5100, \n  \"id\": \"CC30yEIm77ZuGohIkVJbfzGp\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:50 GMT
[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts
    body:
      encoding: UTF-8
      string: ! '{"email_address":"john.doe@example.com","card_uri":"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/cards/CC30yEIm77ZuGohIkVJbfzGp","name":null,"meta":null}'
    headers:
      Authorization:
      - Basic NjExNmI1Y2VjNzIyMTFlMWE0NzYwMjZiYTdlMjM5YTk6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM63b917f4c72211e1a977026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP2XHCQ3eddHTRwD6bFlHIwC
[...]
