---
http_interactions:
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/api_keys
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM65e3086ec72211e19eae026ba7e5e72e
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"merchant\": {\n    \"phone_number\": \"+16505551212\", \n
        \   \"city\": \"Nowhere\", \n    \"marketplace\": null, \n    \"name\": \"William
        Henry Cavendish III\", \n    \"email_address\": \"whc@example.org\", \n    \"created_at\":
        \"2012-07-06T04:23:55.134151Z\", \n    \"uri\": \"/v1/merchants/TEST-MR36oxV2BZ6BFoehSzWvOSaa\",
        \n    \"accounts_uri\": \"/v1/merchants/TEST-MR36oxV2BZ6BFoehSzWvOSaa/accounts\",
        \n    \"meta\": {}, \n    \"postal_code\": \"90210\", \n    \"country_code\":
        \"USA\", \n    \"type\": \"person\", \n    \"balance\": 0, \n    \"api_keys_uri\":
        \"/v1/merchants/TEST-MR36oxV2BZ6BFoehSzWvOSaa/api_keys\", \n    \"id\": \"TEST-MR36oxV2BZ6BFoehSzWvOSaa\",
        \n    \"street_address\": \"123 Fake St\"\n  }, \n  \"secret\": \"6623d812c72211e19eae026ba7e5e72e\",
        \n  \"meta\": {}, \n  \"created_at\": \"2012-07-06T04:23:55.435922Z\", \n
        \ \"uri\": \"/v1/api_keys/AK36JCjQBrUDx5Ul4NRoXxXo\", \n  \"id\": \"AK36JCjQBrUDx5Ul4NRoXxXo\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:55 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Basic NjYyM2Q4MTJjNzIyMTFlMTllYWUwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM6670d748c72211e1b502026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP37ipYHIZCJYNVu4hNAgbaN
      x-balanced-merchant:
      - TEST-MR36oxV2BZ6BFoehSzWvOSaa
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"support_email_address\": \"support@example.com\", \n  \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/bank_accounts\", \n  \"owner_account\":
        {\n    \"holds_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts/AC37Gs6XP3gcheHoLnuDaMOJ/holds\",
        \n    \"name\": \"William Henry Cavendish III\", \n    \"roles\": [\n      \"merchant\",
        \n      \"buyer\"\n    ], \n    \"created_at\": \"2012-07-06T04:23:56.274036Z\",
        \n    \"uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts/AC37Gs6XP3gcheHoLnuDaMOJ\",
        \n    \"bank_accounts_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts/AC37Gs6XP3gcheHoLnuDaMOJ/bank_accounts\",
        \n    \"refunds_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts/AC37Gs6XP3gcheHoLnuDaMOJ/refunds\",
        \n    \"meta\": {}, \n    \"debits_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts/AC37Gs6XP3gcheHoLnuDaMOJ/debits\",
        \n    \"transactions_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts/AC37Gs6XP3gcheHoLnuDaMOJ/transactions\",
        \n    \"email_address\": \"whc@example.org\", \n    \"id\": \"AC37Gs6XP3gcheHoLnuDaMOJ\",
        \n    \"credits_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts/AC37Gs6XP3gcheHoLnuDaMOJ/credits\",
        \n    \"cards_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts/AC37Gs6XP3gcheHoLnuDaMOJ/cards\"\n
        \ }, \n  \"holds_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/holds\",
        \n  \"meta\": {}, \n  \"transactions_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/transactions\",
        \n  \"accounts_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts\",
        \n  \"id\": \"TEST-MP37ipYHIZCJYNVu4hNAgbaN\", \n  \"credits_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/credits\",
        \n  \"cards_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/cards\",
        \n  \"in_escrow\": 0, \n  \"domain_url\": \"example.com\", \n  \"name\": \"Test
        Marketplace\", \n  \"uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN\",
        \n  \"support_phone_number\": \"+16505551234\", \n  \"refunds_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/refunds\",
        \n  \"debits_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/debits\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:56 GMT
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NjYyM2Q4MTJjNzIyMTFlMTllYWUwMjZiYTdlNWU3MmU6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM67233fd2c72211e1ad0d026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP37ipYHIZCJYNVu4hNAgbaN
      x-balanced-merchant:
      - TEST-MR36oxV2BZ6BFoehSzWvOSaa
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/merchants?limit=10&offset=0\", \n  \"items\":
        [\n    {\n      \"phone_number\": \"+16505551212\", \n      \"city\": \"Nowhere\",
        \n      \"marketplace\": {\n        \"in_escrow\": 0, \n        \"domain_url\":
        \"example.com\", \n        \"name\": \"Test Marketplace\", \n        \"owner_account_uri\":
        \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts/AC37Gs6XP3gcheHoLnuDaMOJ\",
        \n        \"support_email_address\": \"support@example.com\", \n        \"uri\":
        \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN\", \n        \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/bank_accounts\", \n        \"support_phone_number\":
        \"+16505551234\", \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/refunds\",
[...]
[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/cards
    body:
      encoding: UTF-8
      string: ! '{"card_number":"5105105105105100","expiration_month":"12","expiration_year":"2015"}'
    headers:
      Authorization:
      - Basic NjYyM2Q4MTJjNzIyMTFlMTllYWUwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM67acd6e8c72211e19eae026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP37ipYHIZCJYNVu4hNAgbaN
      x-balanced-merchant:
      - TEST-MR36oxV2BZ6BFoehSzWvOSaa
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"card_type\": \"mastercard\", \n  \"account\": null, \n  \"name\":
        null, \n  \"expiration_year\": 2015, \n  \"created_at\": \"2012-07-06T04:23:58.108576Z\",
        \n  \"brand\": \"MasterCard\", \n  \"uri\": \"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/cards/CC39JXMaJEKOxKzX3effXk6O\",
        \n  \"expiration_month\": 12, \n  \"is_valid\": true, \n  \"meta\": {}, \n
        \ \"last_four\": 5100, \n  \"id\": \"CC39JXMaJEKOxKzX3effXk6O\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:58 GMT
[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/accounts
    body:
      encoding: UTF-8
      string: ! '{"email_address":"john.doe@example.com","card_uri":"/v1/marketplaces/TEST-MP37ipYHIZCJYNVu4hNAgbaN/cards/CC39JXMaJEKOxKzX3effXk6O","name":null,"meta":null}'
    headers:
      Authorization:
      - Basic NjYyM2Q4MTJjNzIyMTFlMTllYWUwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM68449938c72211e1a29c026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP37ipYHIZCJYNVu4hNAgbaN
[...]
