---
http_interactions:
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Mzc2MTlkYzZjNzIxMTFlMWE5NzcwMjZiYTdlMjM5YTk6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM42e9eb26c72111e1a476026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1HgCDnKZSw46yAiLUC5aNM
      x-balanced-merchant:
      - TEST-MR1GePqSVApIeytkkt2HmTQR
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/merchants?limit=10&offset=0\", \n  \"items\":
        [\n    {\n      \"phone_number\": \"+16505551212\", \n      \"city\": \"Nowhere\",
        \n      \"marketplace\": {\n        \"in_escrow\": 2500, \n        \"domain_url\":
        \"example.com\", \n        \"name\": \"Test Marketplace\", \n        \"owner_account_uri\":
        \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1HMypc3ApJhgDXGewXmGgC\",
        \n        \"support_email_address\": \"support@example.com\", \n        \"uri\":
        \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM\", \n        \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/bank_accounts\", \n        \"support_phone_number\":
        \"+16505551234\", \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/refunds\",
        \n        \"meta\": {}, \n        \"debits_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/debits\",
        \n        \"holds_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/holds\",
        \n        \"transactions_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/transactions\",
        \n        \"accounts_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts\",
        \n        \"id\": \"TEST-MP1HgCDnKZSw46yAiLUC5aNM\", \n        \"credits_uri\":
        \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/credits\", \n        \"cards_uri\":
        \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/cards\"\n      }, \n      \"name\":
        \"William Henry Cavendish III\", \n      \"email_address\": \"whc@example.org\",
        \n      \"created_at\": \"2012-07-06T04:15:27.251166Z\", \n      \"uri\":
        \"/v1/merchants/TEST-MR1GePqSVApIeytkkt2HmTQR\", \n      \"accounts_uri\":
        \"/v1/merchants/TEST-MR1GePqSVApIeytkkt2HmTQR/accounts\", \n      \"meta\":
        {}, \n      \"postal_code\": \"90210\", \n      \"country_code\": \"USA\",
        \n      \"type\": \"person\", \n      \"balance\": -295, \n      \"api_keys_uri\":
        \"/v1/merchants/TEST-MR1GePqSVApIeytkkt2HmTQR/api_keys\", \n      \"id\":
        \"TEST-MR1GePqSVApIeytkkt2HmTQR\", \n      \"street_address\": \"123 Fake
        St\"\n    }\n  ], \n  \"previous_uri\": null, \n  \"uri\": \"/v1/merchants?limit=10&offset=0\",
        \n  \"limit\": 10, \n  \"offset\": 0, \n  \"total\": 1, \n  \"next_uri\":
        null, \n  \"last_uri\": \"/v1/merchants?limit=10&offset=0\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:15:47 GMT
[...]
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Mzc2MTlkYzZjNzIxMTFlMWE5NzcwMjZiYTdlMjM5YTk6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM43b021bac72111e1a977026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1HgCDnKZSw46yAiLUC5aNM
      x-balanced-merchant:
      - TEST-MR1GePqSVApIeytkkt2HmTQR
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/transactions?limit=10&offset=0\",
        \n  \"items\": [\n    {\n      \"account\": {\n        \"holds_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuULX3/holds\",
        \n        \"name\": \"Jack Q Merchant\", \n        \"roles\": [\n          \"merchant\",
        \n          \"buyer\"\n        ], \n        \"created_at\": \"2012-07-06T04:15:32.816841Z\",
        \n        \"uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuULX3\",
        \n        \"bank_accounts_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuULX3/bank_accounts\",
        \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuULX3/refunds\",
        \n        \"meta\": {}, \n        \"debits_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuULX3/debits\",
        \n        \"transactions_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuULX3/transactions\",
        \n        \"email_address\": \"merchant@example.org\", \n        \"id\": \"AC1MuWU1d7tpswJuERuuULX3\",
        \n        \"credits_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuULX3/credits\",
        \n        \"cards_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuULX3/cards\"\n
        \     }, \n      \"fee\": 25, \n      \"description\": \"Credit from Debit
        #1\", \n      \"created_at\": \"2012-07-06T04:15:36.643481Z\", \n      \"destination\":
        {\n        \"bank_name\": \"SAN MATEO CREDIT UNION\", \n        \"name\":
        \"Jack Q Merchant\", \n        \"bank_code\": \"321174851\", \n        \"created_at\":
        \"2012-07-06T04:15:30.640361Z\", \n        \"uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuULX3/bank_accounts/BA1K3bzOqNBU3dLH3cTEdiaZ\",
        \n        \"is_valid\": true, \n        \"meta\": {}, \n        \"last_four\":
        \"7890\", \n        \"id\": \"BA1K3bzOqNBU3dLH3cTEdiaZ\"\n      }, \n      \"transaction_number\":
        \"CR249-379-4533\", \n      \"uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/credits/CR1QNewekENnrA3qGvATAPAq\",
        \n      \"amount\": 500, \n      \"meta\": {}, \n      \"id\": \"CR1QNewekENnrA3qGvATAPAq\",
        \n      \"available_at\": \"2012-07-06T04:15:36.597135Z\"\n    }, \n    {\n
        \     \"account\": {\n        \"holds_uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuULX3/holds\",
        \n        \"name\": \"Jack Q Merchant\", \n        \"roles\": [\n          \"merchant\",
        \n          \"buyer\"\n        ], \n        \"created_at\": \"2012-07-06T04:15:32.816841Z\",
        \n        \"uri\": \"/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/accounts/AC1MuWU1d7tpswJuERuuU[...]
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1HgCDnKZSw46yAiLUC5aNM/transactions?limit=10&offset=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Mzc2MTlkYzZjNzIxMTFlMWE5NzcwMjZiYTdlMjM5YTk6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM44abfe36c72111e1a29c026ba7e5e72e
      x-balanced-mar[...]
