---
http_interactions:
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NjExNmI1Y2VjNzIyMTFlMWE0NzYwMjZiYTdlMjM5YTk6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM652f7aecc72211e1a476026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP2XHCQ3eddHTRwD6bFlHIwC
      x-balanced-merchant:
      - TEST-MR2WWvoF8yVWTAcuxmNZIbln
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/merchants?limit=10&offset=0\", \n  \"items\":
        [\n    {\n      \"phone_number\": \"+16505551212\", \n      \"city\": \"Nowhere\",
        \n      \"marketplace\": {\n        \"in_escrow\": 0, \n        \"domain_url\":
        \"example.com\", \n        \"name\": \"Test Marketplace\", \n        \"owner_account_uri\":
        \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC2Y5Oq0tVMEhdtT2dWVWRvo\",
        \n        \"support_email_address\": \"support@example.com\", \n        \"uri\":
        \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC\", \n        \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/bank_accounts\", \n        \"support_phone_number\":
        \"+16505551234\", \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/refunds\",
        \n        \"meta\": {}, \n        \"debits_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/debits\",
        \n        \"holds_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/holds\",
        \n        \"transactions_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/transactions\",
        \n        \"accounts_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts\",
        \n        \"id\": \"TEST-MP2XHCQ3eddHTRwD6bFlHIwC\", \n        \"credits_uri\":
        \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/credits\", \n        \"cards_uri\":
        \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/cards\"\n      }, \n      \"name\":
        \"William Henry Cavendish III\", \n      \"email_address\": \"whc@example.org\",
        \n      \"created_at\": \"2012-07-06T04:23:46.724372Z\", \n      \"uri\":
        \"/v1/merchants/TEST-MR2WWvoF8yVWTAcuxmNZIbln\", \n      \"accounts_uri\":
        \"/v1/merchants/TEST-MR2WWvoF8yVWTAcuxmNZIbln/accounts\", \n      \"meta\":
        {}, \n      \"postal_code\": \"90210\", \n      \"country_code\": \"USA\",
        \n      \"type\": \"person\", \n      \"balance\": 0, \n      \"api_keys_uri\":
        \"/v1/merchants/TEST-MR2WWvoF8yVWTAcuxmNZIbln/api_keys\", \n      \"id\":
        \"TEST-MR2WWvoF8yVWTAcuxmNZIbln\", \n      \"street_address\": \"123 Fake
        St\"\n    }\n  ], \n  \"previous_uri\": null, \n  \"uri\": \"/v1/merchants?limit=10&offset=0\",
        \n  \"limit\": 10, \n  \"offset\": 0, \n  \"total\": 1, \n  \"next_uri\":
        null, \n  \"last_uri\": \"/v1/merchants?limit=10&offset=0\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:54 GMT
[...]
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts?email_address=john.doe%40example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NjExNmI1Y2VjNzIyMTFlMWE0NzYwMjZiYTdlMjM5YTk6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM65ac508ac72211e1a977026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP2XHCQ3eddHTRwD6bFlHIwC
      x-balanced-merchant:
      - TEST-MR2WWvoF8yVWTAcuxmNZIbln
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts?limit=10&email_address=john.doe%40example.com&offset=0\",
        \n  \"items\": [\n    {\n      \"holds_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC32alTu8zhfsUKg9kZkfrn3/holds\",
        \n      \"name\": null, \n      \"roles\": [\n        \"buyer\"\n      ],
        \n      \"created_at\": \"2012-07-06T04:23:51.368389Z\", \n      \"uri\":
        \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC32alTu8zhfsUKg9kZkfrn3\",
        \n      \"bank_accounts_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC32alTu8zhfsUKg9kZkfrn3/bank_accounts\",
        \n      \"refunds_uri\": \"/v1/marketplaces/TEST-MP2XHCQ3eddHTRwD6bFlHIwC/accounts/AC32alTu8zhfsUKg9kZkfrn3/refunds\",
        \n      \"meta\": [...]
