---
http_interactions:
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/api_keys
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM3d134f70c72211e1b502026ba7e239a9
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"merchant\": {\n    \"phone_number\": \"+16505551212\", \n
        \   \"city\": \"Nowhere\", \n    \"marketplace\": null, \n    \"name\": \"William
        Henry Cavendish III\", \n    \"email_address\": \"whc@example.org\", \n    \"created_at\":
        \"2012-07-06T04:22:46.739152Z\", \n    \"uri\": \"/v1/merchants/TEST-MR1Rtz5AG9MqrDVbDK8Sw0dz\",
        \n    \"accounts_uri\": \"/v1/merchants/TEST-MR1Rtz5AG9MqrDVbDK8Sw0dz/accounts\",
        \n    \"meta\": {}, \n    \"postal_code\": \"90210\", \n    \"country_code\":
        \"USA\", \n    \"type\": \"person\", \n    \"balance\": 0, \n    \"api_keys_uri\":
        \"/v1/merchants/TEST-MR1Rtz5AG9MqrDVbDK8Sw0dz/api_keys\", \n    \"id\": \"TEST-MR1Rtz5AG9MqrDVbDK8Sw0dz\",
        \n    \"street_address\": \"123 Fake St\"\n  }, \n  \"secret\": \"3d568592c72211e1b502026ba7e239a9\",
        \n  \"meta\": {}, \n  \"created_at\": \"2012-07-06T04:22:46.975772Z\", \n
        \ \"uri\": \"/v1/api_keys/AK1RK5HuZAU0NlXUOQ2H3iVX\", \n  \"id\": \"AK1RK5HuZAU0NlXUOQ2H3iVX\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:22:47 GMT
recorded_with: VCR 2.2.2
