---
http_interactions:
- request:
    method: get
    uri: https://api.balancedpayments.com/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM4438d8b0c72211e1a29c026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP1TeztGGOGLPPCo2cLKo6SZ
      x-balanced-merchant:
      - TEST-MR1StaiKg1wIPZi4BqZBFKgK
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"first_uri\": \"/v1/merchants?limit=10&offset=0\", \n  \"items\":
        [\n    {\n      \"phone_number\": \"+16505551212\", \n      \"city\": \"Nowhere\",
        \n      \"marketplace\": {\n        \"in_escrow\": 0, \n        \"domain_url\":
        \"example.com\", \n        \"name\": \"Test Marketplace\", \n        \"owner_account_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC1TCUdnBEr1KwYUyKqb91wZ\",
        \n        \"support_email_address\": \"support@example.com\", \n        \"uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ\", \n        \"bank_accounts_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/bank_accounts\", \n        \"support_phone_number\":
        \"+16505551234\", \n        \"refunds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/refunds\",
        \n        \"meta\": {}, \n        \"debits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/debits\",
        \n        \"holds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/holds\",
        \n        \"transactions_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/transactions\",
        \n        \"accounts_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts\",
        \n        \"id\": \"TEST-MP1TeztGGOGLPPCo2cLKo6SZ\", \n        \"credits_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/credits\", \n        \"cards_uri\":
        \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/cards\"\n      }, \n      \"name\":
        \"William Henry Cavendish III\", \n      \"email_address\": \"whc@example.org\",
        \n      \"created_at\": \"2012-07-06T04:22:47.628360Z\", \n      \"uri\":
        \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK\", \n      \"accounts_uri\":
        \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK/accounts\", \n      \"meta\":
        {}, \n      \"postal_code\": \"90210\", \n      \"country_code\": \"USA\",
        \n      \"type\": \"person\", \n      \"balance\": 0, \n      \"api_keys_uri\":
        \"/v1/merchants/TEST-MR1StaiKg1wIPZi4BqZBFKgK/api_keys\", \n      \"id\":
        \"TEST-MR1StaiKg1wIPZi4BqZBFKgK\", \n      \"street_address\": \"123 Fake
        St\"\n    }\n  ], \n  \"previous_uri\": null, \n  \"uri\": \"/v1/merchants?limit=10&offset=0\",
        \n  \"limit\": 10, \n  \"offset\": 0, \n  \"total\": 1, \n  \"next_uri\":
        null, \n  \"last_uri\": \"/v1/merchants?limit=10&offset=0\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:22:58 GMT
[...]
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/bank_accounts
    body:
      encoding: UTF-8
      string: ! '{"account_number":"1234567890","bank_code":"321174851","name":"Jack
        Q Merchant"}'
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM44c18192c72211e19eae026ba7e5e72e
      x-balanced-marketplace:
      - TEST-MP1TeztGGOGLPPCo2cLKo6SZ
      x-balanced-merchant:
      - TEST-MR1StaiKg1wIPZi4BqZBFKgK
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"bank_name\": \"SAN MATEO CREDIT UNION\", \n  \"account\":
        null, \n  \"name\": \"Jack Q Merchant\", \n  \"bank_code\": \"321174851\",
        \n  \"created_at\": \"2012-07-06T04:22:59.502677Z\", \n  \"uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/bank_accounts/BA25PdUZKqxNT8Dq4AITkqiq\",
        \n  \"is_valid\": true, \n  \"meta\": {}, \n  \"last_four\": \"7890\", \n
        \ \"id\": \"BA25PdUZKqxNT8Dq4AITkqiq\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:22:59 GMT
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts
    body:
      encoding: UTF-8
      string: ! '{"email_address":"merchant2@example.org","merchant":{"type":"person","name":"Billy
        Jones","street_address":"801 High St.","postal_code":"94301","country":"USA","dob":"1842-01","phone_number":"+16505551234"},"bank_account_uri":"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/bank_accounts/BA25PdUZKqxNT8Dq4AITkqiq","name":"Jack
        Q Merchant"}'
    headers:
      Authorization:
      - Basic M2RkZGE5MDBjNzIyMTFlMWEyOWMwMjZiYTdlNWU3MmU6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM451030a8c72211e1a977026ba7e239a9
      x-balanced-marketplace:
      - TEST-MP1TeztGGOGLPPCo2cLKo6SZ
      x-balanced-merchant:
      - TEST-MR1StaiKg1wIPZi4BqZBFKgK
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"holds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC26udPlb8QUuciIxpfH8LUd/holds\",
        \n  \"name\": \"Jack Q Merchant\", \n  \"roles\": [\n    \"merchant\", \n
        \   \"buyer\"\n  ], \n  \"created_at\": \"2012-07-06T04:23:00.084903Z\", \n
        \ \"uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC26udPlb8QUuciIxpfH8LUd\",
        \n  \"bank_accounts_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC26udPlb8QUuciIxpfH8LUd/bank_accounts\",
        \n  \"refunds_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC26udPlb8QUuciIxpfH8LUd/refunds\",
        \n  \"meta\": {}, \n  \"debits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC26udPlb8QUuciIxpfH8LUd/debits\",
        \n  \"transactions_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC26udPlb8QUuciIxpfH8LUd/transactions\",
        \n  \"email_address\": \"merchant2@example.org\", \n  \"id\": \"AC26udPlb8QUuciIxpfH8LUd\",
        \n  \"credits_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC26udPlb8QUuciIxpfH8LUd/credits\",
        \n  \"cards_uri\": \"/v1/marketplaces/TEST-MP1TeztGGOGLPPCo2cLKo6SZ/accounts/AC26udPlb8QUuciIxpfH8LUd/cards\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:23:00 GMT
recorded_with: VCR 2.2.2
