---
http_interactions:
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/api_keys
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM6cf689a0c72211e1a476026ba7e239a9
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"merchant\": {\n    \"phone_number\": \"+16505551212\", \n
        \   \"city\": \"Nowhere\", \n    \"marketplace\": null, \n    \"name\": \"William
        Henry Cavendish III\", \n    \"email_address\": \"whc@example.org\", \n    \"created_at\":
        \"2012-07-06T04:24:07.041458Z\", \n    \"uri\": \"/v1/merchants/TEST-MR3jNgJkG9ieulSnX3ZVTB2x\",
        \n    \"accounts_uri\": \"/v1/merchants/TEST-MR3jNgJkG9ieulSnX3ZVTB2x/accounts\",
        \n    \"meta\": {}, \n    \"postal_code\": \"90210\", \n    \"country_code\":
        \"USA\", \n    \"type\": \"person\", \n    \"balance\": 0, \n    \"api_keys_uri\":
        \"/v1/merchants/TEST-MR3jNgJkG9ieulSnX3ZVTB2x/api_keys\", \n    \"id\": \"TEST-MR3jNgJkG9ieulSnX3ZVTB2x\",
        \n    \"street_address\": \"123 Fake St\"\n  }, \n  \"secret\": \"6d322c3ac72211e1a476026ba7e239a9\",
        \n  \"meta\": {}, \n  \"created_at\": \"2012-07-06T04:24:07.268199Z\", \n
        \ \"uri\": \"/v1/api_keys/AK3k36YR9MG9hACelpQs9cEh\", \n  \"id\": \"AK3k36YR9MG9hACelpQs9cEh\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:24:07 GMT
[...]
