---
http_interactions:
- request:
    method: post
    uri: https://api.balancedpayments.com/v1/api_keys
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json
      x-balanced-guru:
      - OHM6c51e5e4c72211e1a29c026ba7e5e72e
      x-balanced-version:
      - ''
    body:
      encoding: US-ASCII
      string: ! "{\n  \"merchant\": {\n    \"phone_number\": \"+16505551212\", \n
        \   \"city\": \"Nowhere\", \n    \"marketplace\": null, \n    \"name\": \"William
        Henry Cavendish III\", \n    \"email_address\": \"whc@example.org\", \n    \"created_at\":
        \"2012-07-06T04:24:05.944057Z\", \n    \"uri\": \"/v1/merchants/TEST-MR3iylUZwCBBq3a3kiQX3QrY\",
        \n    \"accounts_uri\": \"/v1/merchants/TEST-MR3iylUZwCBBq3a3kiQX3QrY/accounts\",
        \n    \"meta\": {}, \n    \"postal_code\": \"90210\", \n    \"country_code\":
        \"USA\", \n    \"type\": \"person\", \n    \"balance\": 0, \n    \"api_keys_uri\":
        \"/v1/merchants/TEST-MR3iylUZwCBBq3a3kiQX3QrY/api_keys\", \n    \"id\": \"TEST-MR3iylUZwCBBq3a3kiQX3QrY\",
        \n    \"street_address\": \"123 Fake St\"\n  }, \n  \"secret\": \"6c8750c6c72211e1a29c026ba7e5e72e\",
        \n  \"meta\": {}, \n  \"created_at\": \"2012-07-06T04:24:06.154167Z\", \n
        \ \"uri\": \"/v1/api_keys/AK3iN20HZXCGEnUn0iNylCrQ\", \n  \"id\": \"AK3iN20HZXCGEnUn0iNylCrQ\"\n}"
  recorded_at: Fri, 06 Jul 2012 04:24:06 GMT
recorded_with: VCR 2.2.2
